/* Basic Styles */
body, html {
    height: 100%;
    background-color: white;
}

h1 {
    padding: 10px;
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 20px;
}

/* Navigation Bar */
.navbar {
    background-color: blue;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li, .navbar a {
    font-size: 14px;
    color: white;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: white;
    color: #0055cc;
    border-radius: 5px;
}

/* Main Content */
body>main {
    text-align: center;
    padding: 0;
}

/* Description Header */
.description-header {
    text-align: left;
    background-color: deepskyblue;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.description-header p {
    color: darkblue;
    font-size: 14px;
    animation: slideAcross 20s linear infinite;
    margin: 0;
}

/* Keyframes for Animation */
@keyframes slideAcross {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* Interactive Tower */
.interactive-tower {
    position: relative;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.tower-image {
    width: 100%;
    height: auto;
}

.tower-overlay {
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.left-overlay {
    height: 79%;
    width: 25%;
    top: 11%;
    left: 46.5%;
    background-image: url(images/ieTowerSchema1.png);
}

.right-overlay {
    height: 73%;
    width: 24.8%;
    top: 18.5%;
    right: 4.6%;
    background-image: url(images/ieTowerSchema2.png);
}

.tower-overlay:hover {
    opacity: 1;
}

/* Description Section */
.description-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    color: white;
    text-align: left;
}

.text-content {
    flex: 1;
    margin: 20px;
    margin-left: 40px;
}

.image-content {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Button Styling */
#section-button {
    display: inline-block;
    background-color: white;
    color: #0055cc;
    border: 1px solid #0055cc;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    align-self: flex-start;
    margin-left: 0;
    margin-bottom: 20px;
    text-decoration: none;
}

#section-button:hover {
    background-color: #e6e6e6;
    color: #003399;
}

/* Responsive Design */
@media (max-width: 768px) {
    .description-section {
        flex-direction: column;
    }
}

/* Footer */
.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 12px;
}

/* About Page */

.about-section {
    background-color: deepskyblue;
    margin-bottom: 0px;
}

.about-section h1 {
    color: mediumblue;
}

.about-section p {
    color: midnightblue;
    margin-left: 40px;
    margin-right: 40px;
}

.about-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}